[submodule "ext/netImgui"]
	path = ext/netImgui
	url = https://github.com/sammyfreg/netImgui.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/cpptrace"]
	path = ext/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
